@model Entidades.Usuario

@{
    ViewData["Title"] = "Cambiar_Contraseña";
}


<style>
    /* Estilos Para Cuadro */
    .form-container {
        max-width: 330px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 20px;
    }

        .form-container h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .form-container .row {
            margin-bottom: 5px;
        }

        .form-container label {
            font-weight: bold;
        }

    }
</style>

<div class="form-container">
    <h1>Cambio De Contraseña</h1>

    <hr />
    <form asp-action="Cambiar_Contraseña">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id_Usuario" />

        <!-- FILA #1 -->
        <div class="row">

            <div class="form-group col-md-12">
                <label class="control-label">NUEVA CONTRASEÑA:</label>
                <input asp-for="Contraseña" class="form-control" required />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>

        </div><br />

        <!-- BOTONES -->
        <div class="row">
            <div class="form-group col-md-12">
                <input type="submit" value="CAMBIAR" class="btn btn-primary" />
                <a href="/Home/Index" class="btn btn-secondary">CANCELAR</a>
            </div>
        </div>


    </form>
</div>
